In [1]:
from Personas import Ingreso
nuevo=Ingreso(nombre="Tomy Suarez", CI=54311063, tipoRol="E", AñoIngreso=2018)
nuevo.mostrar_archivo()

Estudiante Ingresado

,CI,Rol,Año Ingreso,Mail
Nombres,,,,
Virginia Catala,53242356,Administrativa/o,2016,Virginia.Catala@utec.edu.uy
Tomy Suarez,54311063,Estudiante,2018,Tomy.Suarez@estudiantes.utec.edu.uy